.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
supabase/.temp/
supabase/.env*
cloudflare/**/.dev.vars*
cloudflare/**/.wrangler/
private/
.replit
replit.nix
